<div class="container text-center">
    <div class=" row">
        <div class="p-2  col-3">
           <a (click)="filter('')">
                <img style="border-radius: 40px; height: 100px" class="w-50" src="https://i.postimg.cc/15NFQdfC/images.jpg" alt="">
                <h6>All Products</h6>
           </a>
        </div>
        <div class="p-2   col-3">
            <a (click)="filter(1)">
                <img style="border-radius: 40px; height: 100px;" class="w-50"  src="https://i.postimg.cc/X7HnsNVt/a2.png" alt="">
                <h6>Eye Glasses</h6>
            </a>
        </div>
        <div class="p-2  col-3">
            <a (click)="filter(2)">
                <img style="border-radius: 40px; height: 100px" class="w-50"  src="https://i.postimg.cc/SsF9j73L/b2.png" alt="">
                <h6>Sun Glasses</h6>
            </a>
        </div>
        <div class="p-2  col-3">
           <a (click)="filter(3)">
                <img style="border-radius: 40px; height: 100px" class="w-50"  src="https://i.postimg.cc/MKKQcGPL/d2.png" alt="">
                <h6>Computer Glasses</h6>
           </a>
        </div>
        
    </div>

</div>



<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of filterproducts | filter:searchkey:'description'" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 150px;" class="card-img-top" src="{{i.productImage}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <p class="">{{i.productName}}</p>
                            <!-- description -->
                            <h5 class="fw-bolder">{{i.description}}</h5>
                            <h6>Size-{{i.size}}</h6> 
                            <!-- Product price-->
                            Rs {{i.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                href="product/view-product/{{i.id}}">View options</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>